body {
  font-family: "Times New Roman", sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #18181b;
  color: #f1f0ef;
  text-align: center;
}

h1,
h2 {
  color: #991f36;
}
a {
  color: #0077cc;
}
